html { 
  background: url(drum.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Pathway Gothic One', sans-serif;
}

.container{
   display: flex; 
   flex-wrap: wrap;
   width: 50%;
   margin: 20% auto;
   justify-content: center;
}

.keySq{
    margin: 10px;
    height: 60px;
    width: 60px;
    border: 2px solid #858A8E;
    background: black;
    transition: all 0.09s;
    text-align: center;
    opacity: 0.5;
}

.b {
    transform: scale(1.1);
    border-color: #EFF3FC;
}

.keyName {
    text-align: center;
    vertical-align: middle;
    color: white;
    line-height: 35px;
}
.soundName {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: white;
    line-height: 35px;
}

